@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #212121;
}

.App {
  text-align: center;
  padding: 2rem;
}
